@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./src/HelveticaNeue.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('./src/HelveticaNeueBold.ttf') format('truetype');
}

html {
  font-family: 'Helvetica Neue';
}

input:focus, button:focus, select:focus, textarea:focus {
  outline: none;
}
