@import "../../vars.scss";

.Login {
  width: 850px;
  height: 688px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  input {
    width: 250px;
    margin: 0 auto 10px;
    border: solid 1px $contentgray;
    padding: 5px;
    border-radius: 6px;
  }
  button {
    width: 250px;
    margin: 0 auto;
    border: solid 1px $contentgray;
    padding: 5px;
    box-sizing: content-box;
    border-radius: 6px;
    background: $contentgray;
    color: white;
    &:hover {
      background: $jakegold;
      cursor: pointer;
    }
  }
}
