@import "../../vars.scss";

.WorkMobile {
  .nav-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 50px 20px;
    .arrow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 45px;
      height: 17px;
      img {
        width: 12px;
      }
      p {
        font-size: 14px;
        color: $jakegold;
      }
    }
  }
  .post {
    .post-heading {
      font-weight: bold;
      padding: 10px 0px 20px 50px;
      color: $headerblack;
    }
    .post-cover {
      width: 100%;
      text-align: center;
      img {
        width: 100%;
        max-width: 472px;
      }
    }
    .init-para {
      color: $contentgray;
      padding: 11px 50px;
      line-height: 22px;
    }
    .case-link {
      color: $jakegold;
      padding: 5px 50px 30px;
      img {
        width: 8px;
        margin-left: 55px;
      }
    }
  }
}
