@import "../../vars.scss";

.WorkMobile {
  .nav-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 42px 30px;
    .arrow-circles {
      padding: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      span {
        border-radius: 50px;
        width: 7px;
        height: 7px;
        background: gray;
        margin: auto 5px;
      }
    }
    .arrow {
      span {
        height: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        color: $jakegold;
        .fa-arrow-left {
          margin-right: 5px;
        }
        .fa-arrow-right {
          margin-left: 5px;
        }
        .fa {
          margin-top: -1px;
        }
        p {
          font-size: 12px;
          padding: 2px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .post {
    .post-heading {
      font-family: 'Helvetica Neue Bold';
      padding: 10px 0px 20px 42px;
      color: $headerblack;
    }
    .post-cover {
      width: 100%;
      text-align: center;
      img {
        width: 100%;
        max-width: 472px;
      }
    }
    .init-para {
      color: $contentgray;
      padding: 11px 42px;
      line-height: 22px;
    }
    .case-link {
      font-family: 'Helvetica Neue';
      color: $jakegold;
      font-size: 14px;
      padding: 5px 42px 30px;
      img {
        width: 6px;
        margin-left: 15px;
      }
    }
  }
  .WorkPostMobile {
    .item {
      margin-bottom: 20px;
      img {
        width: 100%;
        margin-bottom: 30px;
      }
      h1 {
        font-family: 'Helvetica Neue Bold';
        padding: 0px 42px 30px 42px;
        color: $headerblack;
        font-size: 18px;
      }
      h2 {
        padding: 0px 42px 30px 42px;
        font-size: 20px;
        color: $headerblack;
      }
      p {
        color: $contentgray;
        padding: 0px 42px 30px 42px;
        line-height: 22px;
      }
    }
  }
}
