@import "../../vars.scss";

.WorkMobile {
  .nav-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 42px 20px;
    .arrow {
      span {
        width: 50px;
        height: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        img {
          width: 12px;
        }
        p {
          font-size: 14px;
          color: $jakegold;
          font-family: 'Helvetica Neue Bold';
        }
      }
    }
  }
  .post {
    .post-heading {
      font-family: 'Helvetica Neue Bold';
      padding: 10px 0px 20px 42px;
      color: $headerblack;
    }
    .post-cover {
      width: 100%;
      text-align: center;
      img {
        width: 100%;
        max-width: 472px;
      }
    }
    .init-para {
      color: $contentgray;
      padding: 11px 42px;
      line-height: 22px;
    }
    .case-link {
      font-family: 'Helvetica Neue';
      color: $jakegold;
      font-size: 14px;
      padding: 5px 42px 30px;
      img {
        width: 6px;
        margin-left: 15px;
      }
    }
  }
  .WorkPostMobile {
    h1 {
      font-family: 'Helvetica Neue Bold';
      padding-bottom: 20px;
      color: $headerblack;
      font-size: 18px;
    }
    h2 {
      padding-bottom: 20px;
      font-size: 20px;
      color: $headerblack;
    }
    p {
      color: $contentgray;
      padding: 0px 42px 20px 42px;
      line-height: 22px;
    }
    .post-normal-photo {
      width: 100%;
      padding: 0px 42px 20px 42px;
    }
    .post-cover-photo {
      width: 100%;
      padding-bottom: 20px;
    }
  }
}
