@import "../../vars.scss";

.Nav {
  margin-top: 30px;
  max-width: 850px;
  .nav-logo {
    width: 100%;
    text-align: center;
    padding: 5px;
    img {
      width: 33px;
    }
  }
  .nav-name {
    width: 190px;
    padding: 5px 0px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .nav-social-media {
      width: 144px;
      height: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-left: 60px;
      display: none;
      img {
        width: 25px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    img {
      width: 190px;
    }
  }
  .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    color: $navblack;
    font-size: 17px;
    padding: 15px 42px;
    .nav-active {
      border-bottom: solid 3px $jakegold;
    }
    span {
      font-weight: bold;
      padding: 10px 0px;
      &:hover {
        border-bottom: solid 3px $jakegold;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 600px) {
  .Nav {
    width: calc(100% - 40px);
    margin: 30px auto;
    position: relative;
    .nav-logo {
      width: initial;
      text-align: initial;
      padding: initial;
      position: absolute;
      left: 0;
      img {
        width: 20px;
      }
    }
    .nav-name {
      width: initial;
      text-align: initial;
      position: absolute;
      right: 0;
    }
    .tabs {
      width: 230px;
      padding: initial;
      margin-left: 80px;
      span {
        padding: 4px 0px 10px;
      }
    }
  }
}

@media (min-width: 850px) {
  .Nav {
    margin: 30px auto;
    .nav-name {
      padding: 0px;
      width: 407px;
      .nav-social-media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
    }
  }
}
