@import "../../vars.scss";

.Work {
  width: 100%;
  max-width: 850px;
  .edit-controls {
    padding-bottom: 30px;
    color: $jakegold;
    i {
      font-size: 22px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 600px) {
  .Work {
    margin: auto;
    width: calc(100% - 40px);
  }
}
