@import "../../vars.scss";

.WorkDesktop {
  padding-top: 50px;
  .nav-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    margin-top: -60px;
    margin-left: 100px;
    .arrow-circles {
      padding: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      span {
        border-radius: 50px;
        width: 7px;
        height: 7px;
        background: gray;
        margin: auto 5px;
      }
    }
    .arrow {
      span {
        height: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        color: $jakegold;
        .icon-arrow-left {
          margin-right: 5px;
          margin-top: -1px;
        }
        .icon-arrow-right {
          margin-left: 5px;
          margin-top: -1px;
        }
        p {
          font-size: 12px;
          padding: 2px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px;
    .post-cover {
      width: 47%;
      height: 254px;
      overflow: hidden;
      &:hover {
        cursor: pointer;
      }
      img {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
    .addphoto {
      border-radius: 5px;
      border: solid 1px #eaeaea;
    }
    .post-info {
      width: 47%;
      height: 200px;
      .post-heading {
        font-family: 'Helvetica Neue Bold';
        padding-bottom: 10px;
        font-size: 18px;
        color: $headerblack;
        &:hover {
          cursor: pointer;
        }
        input {
          padding: 10px;
          border: solid 1px #eaeaea;
          border-radius: 5px;
          background: #f9f9f9;
          width: 100%;
          box-sizing: border-box;
        }
      }
      .init-para {
        color: $paragraph;
        padding-bottom: 10px;
        line-height: 22px;
        textarea {
          padding: 10px;
          border: solid 1px #eaeaea;
          border-radius: 5px;
          background: #f9f9f9;
          width: 100%;
          font-family: Helvetica, sans-serif;
          resize: none;
          height: 100px;
          box-sizing: border-box;
        }
      }
      .case-link {
        font-family: 'Helvetica Neue';
        color: $jakegold;
        font-size: 14px;
        img {
          width: 6px;
          margin-left: 15px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .WorkPostDesktop {
    .item {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      .item-image {
        width: 65%;
        img {
          width: 100%;
          margin-bottom: 30px;
        }
      }
      .item-content {
        width: 35%;
        margin-left: 40px;
        h1 {
          font-family: 'Helvetica Neue Bold';
          padding-bottom: 20px;
          font-size: 18px;
          color: $headerblack;
        }
        h2 {
          padding-bottom: 20px;
          font-size: 18px;
          color: $headerblack;
        }
        p {
          color: $paragraph;
          line-height: 22px;
          padding-bottom: 30px;
        }
      }
    }
  }
}
