@import "../../vars.scss";

.WorkDesktop {
  .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
    .post-cover {
      width: 48%;
      height: 254px;
      overflow: hidden;
      img {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
    .post-info {
      width: 48%;
      height: 200px;
      .post-heading {
        font-family: 'Helvetica Neue Bold';
        padding-bottom: 10px;
        color: $headerblack;
      }
      .init-para {
        color: $contentgray;
        padding-bottom: 10px;
        line-height: 22px;
      }
      .case-link {
        font-weight: bold;
        color: $jakegold;
        img {
          width: 8px;
          margin-left: 55px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .WorkPostDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .desktop-images {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 550px;
      height: 0;
      span {
        margin-bottom: 50px;
        img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
    }
    .desktop-content {
      width: 250px;
      margin-left: 50px;
      h1 {
        font-family: 'Helvetica Neue Bold';
        padding-bottom: 20px;
        color: $headerblack;
      }
      p {
        color: $contentgray;
        padding-bottom: 20px;
        line-height: 22px;
      }
    }
  }
}
